#header{
 background-color: rgb(102, 102, 218);
 color: white;
 font-size: 40px;
 height: 100px;
}
#button1{
 float: right;
 margin-top: 15px;
 background-color: rgb(81, 81, 236);
 color: white;
}














